#root {
  font-family: sans-serif;
  margin: 30px;

}
#navbar {
  
  display: flex;
  justify-content: space-between;
  
}
#top {
  
  background-color: #202536;
  color: #FFF;
  padding: 15px 60px 80px 60px;

}

#top h1 {
  margin-top: 120px;
  font-size: 60px;
}

#top p {
  margin-top: -40px;
  margin-bottom: 50px;
  color: #C3C5C8;
}

#top button {
  font-size: 1rem;
  font-weight: 600;
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
}

#down {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFF;
  color: #202536;
  padding: 15px 60px 80px 60px;
}

#down div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  padding: 10px;
}
#down div img {
  margin-left: -10px;
  width: 100px;
}
#down p {
  margin-top: -10px;
  color: #A3A3A3;
}
